Repository facet-rs/facet, pull requests merged in 2025-05, with the labels that each got.

#508 refactor(serialize): make many trait methods optional
  facet-serialize/src/lib.rs
  facet-toml/src/serialize.rs
Labels: 📁 formats, 💅 devex

#510 chore(deps): cleanup unused dependecies with cargo-machete
  Cargo.lock
  facet-dev/Cargo.toml
  facet-jsonschema/Cargo.toml
  facet-kdl/Cargo.toml
  facet-toml/Cargo.toml
Labels: dependencies

#511 test(toml): add wide benchmark
  Cargo.lock
  facet-toml/Cargo.toml
  facet-toml/benches/compare_serde.rs
Labels: 📁 formats, 💨 performance

#526 refactor(deserialize)!: make deserialize format stateful
  facet-deserialize/src/lib.rs
  facet-json/src/deserialize.rs
Labels: ✨ enhancement, 📁 formats

#524 refactor(yaml): prepare for serialization implementation
  facet-yaml/Cargo.toml
  facet-yaml/src/deserialize/error.rs
  facet-yaml/src/deserialize/mod.rs
  facet-yaml/src/lib.rs
  facet-yaml/src/serialize/error.rs
  facet-yaml/src/serialize/mod.rs
Labels: 📁 formats

#529 feat: support core::ops::Range
  facet-core/src/impls_core/mod.rs
  facet-core/src/impls_core/ops.rs
Labels: ✨ enhancement

#592 Add facet-xdr
  Cargo.lock
  Cargo.toml
  facet-xdr/CHANGELOG.md
  facet-xdr/Cargo.toml
  facet-xdr/README.md
  facet-xdr/README.md.in
  facet-xdr/src/lib.rs
  facet-xdr/tests/mod.rs
Labels: ✨ enhancement, 📁 formats

#598 docs(derive): describe the global attributes on the derive macro
  facet-derive/src/lib.rs
  facet/src/lib.rs
Labels: 📒 documentation

#618 Make `IterVTable` generic over the iteratee
  facet-core/src/impls_alloc/btreemap.rs
  facet-core/src/impls_std/hashmap.rs
  facet-core/src/types/def/iter.rs
  facet-core/src/types/def/map.rs
  facet-core/src/types/def/set.rs
  facet-reflect/src/peek/map.rs
Labels: ✨ enhancement

#643 Allow nav to scroll on facet.rs website
  docs/templates/main-style.css.jinja
Labels: 📒 documentation

#628 feat(args): convert reflection spans from arg-wise to char-wise
  facet-args/src/format.rs
  facet-args/tests/err.rs
  facet-args/tests/simple.rs
  facet-args/tests/snapshots/err__error_bool_with_invalid_value_positional.snap
  facet-args/tests/snapshots/err__error_char_with_multiple_chars.snap
  facet-args/tests/snapshots/err__error_complex_nested_structure.snap
  facet-args/tests/snapshots/err__error_invalid_ip_address.snap
  facet-args/tests/snapshots/err__error_missing_value_for_argument.snap
  facet-args/tests/snapshots/err__error_missing_value_for_argument_short_eof.snap
  facet-args/tests/snapshots/err__error_missing_value_for_argument_short_missed.snap
  facet-args/tests/snapshots/err__error_negative_value_for_unsigned.snap
  facet-args/tests/snapshots/err__error_nested_struct_with_scalar.snap
  facet-args/tests/snapshots/err__error_non_struct_type_not_supported.snap
  facet-args/tests/snapshots/err__error_number_outside_range.snap
  facet-args/tests/snapshots/err__error_option_with_multiple_values.snap
  facet-args/tests/snapshots/err__error_out_of_range.snap
  facet-args/tests/snapshots/err__error_tuple_struct_field_access.snap
  facet-args/tests/snapshots/err__error_unexpected_positional_arg.snap
  facet-args/tests/snapshots/err__error_vec_with_incompatible_types.snap
  facet-args/tests/snapshots/err__error_wrong_type_for_argument.snap
  facet-deserialize/src/error.rs
  facet-deserialize/src/lib.rs
  facet-deserialize/src/span.rs
  facet-deserialize/tests/input_types.rs
  facet-json/src/iterative/deserialize.rs
Labels: ✨ enhancement, 📁 formats

#645 test(args): TDD for `Vec` support
  facet-args/tests/sequence.rs
Labels: 📁 formats, 🧹 code quality

#653 refactor(args): `ArgType` enum, various field helpers
  facet-args/src/arg.rs
  facet-args/src/fields.rs
  facet-args/src/format.rs
  facet-args/src/lib.rs
  facet-args/src/parse.rs
  facet-args/src/results.rs
Labels: 📁 formats, 🧹 code quality

#659 refactor args standardise erorr spans
  facet-args/src/fields.rs
  facet-args/src/format.rs
  facet-args/src/results.rs
Labels: 📁 formats, 🧹 code quality

#656 Fix marker traits for references and also test marker traits in facts
  facet-core/src/impls_core/pointer.rs
  facet-core/src/types/value.rs
  facet-reflect/tests/peek/facts.rs
Labels: 🐛 bug

#655 Add support for deserializing `Arc<T>` fields (cf. #654)
  Cargo.lock
  facet-core/src/impls_alloc/arc.rs
  facet-deserialize/src/lib.rs
  facet-json/tests/arc.rs
  facet-reflect/src/error.rs
  facet-reflect/src/wip/frame.rs
  facet-reflect/src/wip/mod.rs
  facet-reflect/src/wip/pop.rs
  facet-reflect/tests/wip/arc.rs
  facet-reflect/tests/wip/mod.rs
  facet-testhelpers/Cargo.toml
  facet-testhelpers/src/lib.rs
Labels: 🐛 bug
