Repository facet-rs/facet, pull requests merged in 2025-04, with the labels that each got.

#405 fix: jsonschema doctest breakage
  Cargo.lock
  facet-jsonschema/Cargo.toml
Labels: 🐛 bug, 📒 documentation

#403 fix(reflect): make rename an actual rename instead of an alias
  facet-json/tests/integration/read/rename.rs
  facet-reflect/src/wip/mod.rs
Labels: 🐛 bug

#398 feat: tuple deserialisation
  facet-core/src/types/mod.rs
  facet-json/src/deserialize.rs
  facet-json/tests/integration/err.rs
  facet-json/tests/integration/read/tuple.rs
  facet-json/tests/integration/read/vec.rs
  facet-reflect/src/wip/mod.rs
Labels: 📁 formats

#423 test(json): use eyre::Result for better errors
  facet-json/tests/integration/read/bool.rs
  facet-json/tests/integration/read/deny_unknown_and_default.rs
  facet-json/tests/integration/read/enums.rs
  facet-json/tests/integration/read/eof_and_nulls.rs
  facet-json/tests/integration/read/hashmap.rs
  facet-json/tests/integration/read/numbers.rs
  facet-json/tests/integration/read/option.rs
  facet-json/tests/integration/read/primitives.rs
  facet-json/tests/integration/read/rename.rs
  facet-json/tests/integration/read/skip_unknown_fields.rs
  facet-json/tests/integration/read/structs.rs
  facet-json/tests/integration/read/tuple.rs
  facet-json/tests/integration/read/vec.rs
  facet-json/tests/integration/write/json.rs
Labels: 📁 formats

#424 test(toml): use eyre::Result for better errors
  Cargo.lock
  facet-toml/Cargo.toml
  facet-toml/tests/basic.rs
  facet-toml/tests/enum_.rs
  facet-toml/tests/list.rs
  facet-toml/tests/map.rs
  facet-toml/tests/option.rs
  facet-toml/tests/scalar.rs
  facet-toml/tests/struct_.rs
Labels: 📁 formats

#425 test(yaml): use eyre::Result for better errors
  facet-yaml/tests/from_str.rs
Labels: 📁 formats

#427 test(msgpack): use eyre::Result for better errors
  Cargo.lock
  facet-msgpack/Cargo.toml
  facet-msgpack/tests/deserialize.rs
Labels: 📁 formats

#431 Introduce prepush command for dev, runs tests in parallel
  .cargo-husky/hooks/pre-commit
  .cargo-husky/hooks/pre-push
  Cargo.lock
  Justfile
  facet-dev/Cargo.toml
  facet-dev/absolve.sh
  facet-dev/src/main.rs
Labels: 💅 devex

#429 Fix trailing better assert sentence
  .envrc
  docs/.gitignore
  docs/content/_index.md
  docs/package.json
  docs/pnpm-lock.yaml
Labels: 📒 documentation

#432 chore(renovate): group, schedule and automerge Renovate dependencies
  .github/renovate.json
Labels: ✨ enhancement

#430 test(urlencoded): use eyre::Result for better errors
  Cargo.lock
  facet-urlencoded/Cargo.toml
  facet-urlencoded/src/tests.rs
Labels: 📁 formats

#433 fix(docs) Remove reference to old process
  DEVELOP.md
Labels: 📒 documentation

#457 feat(toml): implement 'default' attribute
  facet-toml/src/lib.rs
  facet-toml/tests/struct_.rs
Labels: 📁 formats

#458 refactor(toml)!: setup structure for serialize implementation
  Cargo.lock
  facet-toml/Cargo.toml
  facet-toml/src/deserialize/error.rs
  facet-toml/src/deserialize/mod.rs
  facet-toml/src/deserialize/to_scalar.rs
  facet-toml/src/lib.rs
  facet-toml/src/serialize.rs
  facet-toml/tests/deserialize/basic.rs
  facet-toml/tests/deserialize/document.rs
  facet-toml/tests/deserialize/enum_.rs
  facet-toml/tests/deserialize/list.rs
  facet-toml/tests/deserialize/map.rs
  facet-toml/tests/deserialize/mod.rs
  facet-toml/tests/deserialize/option.rs
  facet-toml/tests/deserialize/scalar.rs
  facet-toml/tests/deserialize/struct_.rs
  facet-toml/tests/mod.rs
  facet-toml/tests/serialize/basic.rs
  facet-toml/tests/serialize/mod.rs
Labels: ✨ enhancement, 📁 formats
